@model List<DrinkViewModel>
@{
    ViewData["Title"] = "AllDrinkList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">DRINKS LIST</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th class="width80">#</th>
                                <th>NAME</th>
                                <th>PRICE</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td><strong>@count</strong></td>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-success light sharp" data-toggle="dropdown">
                                                <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><circle fill="#000000" cx="5" cy="12" r="2" /><circle fill="#000000" cx="12" cy="12" r="2" /><circle fill="#000000" cx="19" cy="12" r="2" /></g></svg>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/Drink/EditDrinkInfo/@item.DrinkID">EDIT</a>
                                                <a class="dropdown-item" href="/Drink/DeleteDrinkInfo/@item.DrinkID">DELETE</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <br />
                    <a class="btn btn-info" href="/Drink/AddDrink/">
                        ADD NEW DRINK
                        <span class="btn-icon-right"><i class="fa fa-heart"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>