
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-6 col-sm-6">
			<div class="widget-stat card bg-danger">
				<div class="card-body  p-4">
					<div class="media">
						<span class="mr-3">
							<i class="flaticon-381-calendar-1"></i>
						</span>
						<div class="media-body text-white text-right">
							<p class="mb-1">Total Burger Item Count</p>
							<h3 class="text-white">@ViewBag.BurgerCount</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-sm-6">
			<div class="widget-stat card bg-success">
				<div class="card-body p-4">
					<div class="media">
						<span class="mr-3">
							<i class="flaticon-381-diamond"></i>
						</span>
						<div class="media-body text-white text-right">
							<p class="mb-1">Total Drink Item Count</p>
							<h3 class="text-white">@ViewBag.DrinkCount</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-3 col-lg-6 col-sm-6">
			<div class="widget-stat card bg-info">
				<div class="card-body p-4">
					<div class="media">
						<span class="mr-3">
							<i class="flaticon-381-heart"></i>
						</span>
						<div class="media-body text-white text-right">
							<p class="mb-1">All Menu Item Count</p>
							<h3 class="text-white">@ViewBag.AllMenuCount</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-sm-6">
			<div class="widget-stat card bg-primary">
				<div class="card-body p-4">
					<div class="media">
						<span class="mr-3">
							<i class="flaticon-381-user-7"></i>
						</span>
						<div class="media-body text-white text-right">
							<p class="mb-1">TOTAL GAINS</p>
							<h3 class="text-white">$@ViewBag.OrderTotalGains</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
